<form method="post">
    <input name="name" placeholder="Name">
    <input name="email" placeholder="Email Address">
    <input name="password" type="password" placeholder="Password">
    <input name="password_confirmation" type="password" placeholder="Confirm Password">
    <input type="submit">
</form>